body {
    background-color: white;
}

.post-preview {
    display: flex;
    gap: 70px;
    align-items: center;

}

.post-preview img {
    width: 500px;
    height: 300px;
}

.post-content {
    width: 100%;
}

.post-title {
    min-width: 600px;
}

header.masthead {
    background-image: url('../assets/img/media-1556.jpg');
}

.post-user {
    color: coral;
}

.meta a {
    padding-right: 20px;
    font-size: 14px;
}

.meta .fa-heart:hover {
    color: red;
}

.meta .fa-thumbs-o-down:hover {
    color: blue;
}

.meta .fa-plus:hover {
    color: orangered;
}